# Бинарные файлы и результаты сборки
bin/
obj/
*.exe
*.dll
*.pdb

# Настройки IDE (Visual Studio, Rider, VS Code)
.vs/
.idea/
*.user
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Локальные конфигурации (чтобы случайно не запушить секреты)
appsettings.Development.json
appsettings.Local.json

# Файлы локальных баз данных (код миграций при этом пушится нормально!)
*.db
*.sqlite
*.mdf
*.ldf

# Файлы логов
*.log

# Кеш Entity Framework Core
EFSQLScripts/

# Загрузки пользователей (картинки, аватары)
**/wwwroot/uploads/*
# Оставляем саму папку uploads пустой, чтобы она создалась на GitHub
!**/wwwroot/uploads/.keep